html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: auto;

  /* font-family: 'Handlee', cursive ;
   font-family: 'Montserrat' sans-serif;
   font-family: 'Roboto',sans-serif ;
*/
}

.row {
  width: 100%;
}

.row::after {
  clear: both;
  content: " ";
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}


/*  header starts */

header {
  background-color: aqua;
  padding: 0% 1%;
  text-align: center;
}


.logo {
  width: 70px;
  height: 70px;
  background-color: rebeccapurple;
  text-align: center;
  border: 2px solid white;
  border-radius: 50%;
  color: rgb(241, 48, 14);
  
  padding: 10px;
  text-align: center;
  margin: auto;
}

nav ul li {
  display: block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(19, 20, 20);
  line-height: 70px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
}

nav ul li a:hover {
  border-radius: 10px;
  background-color: rgb(18, 218, 28);
}

/* header ends*/

/* banner starts*/

#banner-section {
  background-image: url("image/Banner_image_1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-contents {
  padding: 50px 10px;
  text-align: center;
}

.banner-contents h1 {
  width: 50%;
  margin: 15px auto;
  font-size: 3rem;
  background: rgb(243, 247, 6);
  color: rgb(14, 12, 12);
  border-radius: 5px;
  padding: 10px;
  font-family: "Handlee", cursive;
}

.banner-contents p {
  width: 300px;
  margin: 15px auto;
  background-color: orangered;
  padding: 10px;
  font-size: 1.5rem;
  color: pink;
}

.btn {
  width: 150px;
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: orangered;
  transition: 0.5s;
}

.btn:hover {
  transform: scale(1.6);
}

/* banner ends*/

/* about us starts*/

#about-us {
  padding: 1%;
}

.about-us-content {
  text-align: center;
  background-color: rgb(218, 101, 6);
  padding: 20px ;
  margin: auto;
}

.about-us-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bolder;
}

.about-us-content p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

/* about us ends*/

/*food menu starts*/

#manu-section {
  padding: 1%;
}

.card-body {
  text-align: center;
}

.card-body img {
  max-width: 100%;
  height: auto;
  display: block;
}

.item-desc {
  background: rgb(82, 78, 78);
}

.item-name {
  background: green;
  color: blanchedalmond;
  padding: 10px;
  font-weight: bold;
}

.item-desc > p {
  font-size: 1rem;
  padding: 5px;
  font-weight: bold;
}

.card {
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.2);
}

/* food menu ends*/


/* contact ends*/

#contact{
  padding: 1%;
  background:blueviolet;
}

.contact-details{
  color: beige;
  text-align: center;
}

.contact-details p{
  font-size: 00.8rem;
}

.map{
  width: 100%;
}

/* contact ends*/


/* footer starts*/

footer{
  padding: 1%;
  color: whitesmoke;
  background-color: rgb(5, 1, 15);

}

footer p{
  line-height: 30px;
  font-size: 00.8rem;
  text-align: center;
}

.social-menu{
  text-align: center;
}

.icon-style{

  color: white;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 100%;
  border: 1px solid white;
  margin: 0 10px;
  transition: .4s;
  text-align: center;



}

.icon-style:hover{

  background-color: gray;
  transform:scale(1.2);


}

/* footrer ends*/

/* footrer p start*/

footer p{
  text-align: left;
}

.social-menu{
  text-align: right;
}


/* footrer p ends*/

/* For tablets: */
@media only screen and (min-width: 576px) {
  
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}


 /* For desktop: */

@media only screen and (min-width: 768px) {
 
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* For desktop: */
@media only screen and (min-width: 992px) {
  
.logo-div{
  text-align: center;
}

nav ul{
  text-align: right;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  display: inline-block;
  transition: .4s;
}

nav ul li a:hover{
  background-color: transparent;
  transform: scale(1.2);
  text-decoration: underline;
  border-radius: 0%;
}




  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
